<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.caozj.common" />
	
	<context:component-scan base-package="com.caozj.dao" name-generator="com.caozj.framework.util.bean.BeanNameGenerator" /> 
	<context:component-scan base-package="com.caozj.service" name-generator="com.caozj.framework.util.bean.BeanNameGenerator" />
	<context:component-scan base-package="com.caozj.controller" />
	
	<context:component-scan base-package="com.caozj.util" />
	<context:component-scan base-package="com.caozj.jobs" />
	
	<context:component-scan base-package="com.caozj.permission" />
	<context:component-scan base-package="com.caozj.chat" />
	<context:component-scan base-package="com.caozj.framework.util" />
	<context:component-scan base-package="com.caozj.framework.session" />
	<context:component-scan base-package="com.caozj.framework.distributed" />
	<context:component-scan base-package="com.caozj.mq" />
	<context:component-scan base-package="com.caozj.aspect" />
	<context:component-scan base-package="com.caozj.dubbo" />
	<context:component-scan base-package="com.caozj.cache" />
	<context:component-scan base-package="com.caozj.activiti" />
	<context:component-scan base-package="com.caozj.cluster" />
	
	
	<context:component-scan base-package="com.caozj.test" />
</beans>