<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/batch 
	http://www.springframework.org/schema/batch/spring-batch-3.0.xsd">

	<!-- jobRepository in memory <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean"> 
		<property name="transactionManager" ref="transactionManager" /> </bean> -->

	<!-- jobRepository in database -->
	<batch:job-repository id="jobRepository"
		data-source="dataSource" transaction-manager="transactionManager" />

	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
		<!-- async to execute job -->
		<property name="taskExecutor" ref="taskExecutor" />
	</bean>

	<bean id="jobRegistry"
		class="org.springframework.batch.core.configuration.support.MapJobRegistry" />

	<bean id="jobExplorer"
		class="org.springframework.batch.core.explore.support.JobExplorerFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean
		class="org.springframework.batch.core.configuration.support.JobRegistryBeanPostProcessor">
		<property name="jobRegistry" ref="jobRegistry" />
	</bean>

	<bean id="jobOperator"
		class="org.springframework.batch.core.launch.support.SimpleJobOperator">
		<property name="jobRepository" ref="jobRepository" />
		<property name="jobLauncher" ref="jobLauncher" />
		<property name="jobRegistry" ref="jobRegistry" />
		<property name="jobExplorer" ref="jobExplorer" />
	</bean>

	<import resource="classpath:/SpringBatchJob.xml" />
	<!--  Spring Batch Admin管理端，目前尚未整理完配置文件修改
	<import resource="classpath:/SpringBatchAdmin.xml" />
	 -->
	<!-- demo -->

	<bean id="reader" class="org.springframework.batch.item.file.FlatFileItemReader">
		<property name="resource" value="file:d:/reader.txt" />
		<property name="strict" value="true" />
		<property name="linesToSkip" value="1" />
		<property name="encoding" value="UTF-8" />
		<property name="lineMapper">
			<bean class="org.springframework.batch.item.file.mapping.DefaultLineMapper">
				<property name="lineTokenizer">
					<bean
						class="org.springframework.batch.item.file.transform.DelimitedLineTokenizer">
						<property name="delimiter" value="," />
						<property name="names" value="id,code,value,typeID,description" />
					</bean>
				</property>
				<property name="fieldSetMapper">
					<bean class="com.caozj.test.batch.TestFieldSetMapper" />
				</property>
			</bean>
		</property>
	</bean>

	<bean id="writer" class="com.caozj.test.batch.ItemWriter" />



</beans>